<button type="button" class="btn_close" (click)="closeDialog()">
  <span aria-hidden="true" class="times"> </span>
</button>
<h2 mat-dialog-title>Add items</h2>
<form [formGroup]="form" (ngSubmit)="send()">
  <div class="content">
    <div class="first input-group">
      <input
        type="text"
        class="form-control"
        formControlName="first"
        placeholder="first"
      />
    </div>
    <span
      class="form_text_error"
      *ngIf="form.get('first').invalid && form.get('first').touched"
    >
      <span *ngIf="form.get('first')['errors']['required']"
        >First can not be empty.</span
      >
    </span>
    <div class="last input-group">
      <input
        type="text"
        class="form-control"
        formControlName="last"
        placeholder="last"
      />
    </div>
    <span
      class="form_text_error"
      *ngIf="form.get('last').invalid && form.get('last').touched"
    >
      <span *ngIf="form.get('last')['errors']['required']"
        >last can not be empty.</span
      >
    </span>
    <div class="something input-group">
      <input
        type="text"
        class="form-control"
        formControlName="something"
        placeholder="something"
      />
    </div>
    <span
      class="form_text_error"
      *ngIf="form.get('something').invalid && form.get('something').touched"
    >
      <span *ngIf="form.get('something')['errors']['required']"
        >something can not be empty.</span
      >
    </span>
    <div class="action">
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-lg btn-block"
      >
        ADD !
      </button>
    </div>
  </div>
</form>
