@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Open Sans';
}

.form_text_error {
  font-size: 11px;
  color: #e7050e !important;
  font-weight: bold;
  display: block;
}

.remove-item {

}
