.main {
  .action {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;

    button {
      width: 250px;
    }
  }
  .action_buttons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    button {
      width: 49%;
    }
  }
}
